<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Bullkart &mdash; The Best Deals on Movie Merchandise</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Best Deals on Movie Merchandise">
    <meta name="keywords" content="USF, Movie fans, Merchandise, Deals" />
    <meta name="author" content="Anupam, Anusman" />

    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">

    <!-- CSS-->
    <link rel="stylesheet" href="~/css/basic-style.css">
    <!-- end CSS-->
    <!-- JS -->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/basic-js.js"></script>
    <script src="~/js/jquery-validations.js"></script>
    <!-- end JS-->

    <style type="text/css">
    </style>
</head>

<body>
    @RenderBody()
    <footer>
        <div id="colophon" class="wrapper clearfix">
            <a href='#'>About Us</a>
        </div>
        <div id="attribution" class="wrapper clearfix" style="color:#666; font-size:11px;">Site built by Anupam &amp; Anusman</div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
