@model List<Category>
<body id="home">
    @Html.Partial("MainNavigationPartial", Model)
    <section id="topsection">
        <div class="wrapper">
            <div class="row">
                <div class="grid_5">
                    <h1>About</h1>
                    <p>
                        A place where Movie fans can place an order for their favorite merchandize with online payment or pay on delivery option
                        and have the order shipped directly to the place wherever they want. In case fans are unhappy with the order, they can return the
                        shipped order and get a refund for it. Any order that is not shipped can be canceled fully or partially depending on the fan.
                        Promo-codes can also be used to get good discount deals on orders.
                    </p>
                </div>
                <div class="grid_7 rightfloat">
                    <img src="images/minions.jpg" />
                </div>
            </div>
        </div>
    </section>

</body>
