@model List<Category>
<body id="home">
    @Html.Partial("MainNavigationPartial", Model)
    <section id="topsection">
        <div class="wrapper">
            <div class="row">
                <div class="grid_5">
                    <h1>About</h1>
                    <p>
                        A place where Movie fans can browse product catalog, place an order for their favorite merchandize and have the order shipped directly to the place wherever they want. 
                        Happy Shopping!!!
                    </p>
                </div>
                <div class="grid_7 rightfloat">
                    <img src="images/minions.jpg" />
                </div>
            </div>
        </div>
    </section>

</body>
